Repository zachseletsky/AI-StockMarket-Proj: changes, and which pre-commit hooks are due for each by the changed paths.
All: env-check, docstring-check, validate-yaml, validate-json

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
        language_version: python3.11

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-ast
      - id: check-yaml
      - id: debug-statements

  - repo: https://github.com/PyCQA/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        additional_dependencies: ["flake8-bugbear"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.5.1
    hooks:
      - id: mypy
        args: ["--ignore-missing-imports"]

  - repo: local
    hooks:
      - id: no-env-commit
        name: Prevent .env commits
        entry: bash -c 'for file in "$@"; do if [[ "$file" == .env ]]; then echo "🚫 .env file should not be committed."; exit 1; fi; done'
        language: system
        types: [file]

      - id: env-check
        name: Check environment.yml freshness
        entry: conda run -n ai-stock-trader bash -c 'conda env export --no-builds | diff environment.yml - >/dev/null || (echo "🔁 Please update environment.yml with \`conda env export --no-builds > environment.yml\`" && exit 1)'
        language: system
        files: ^environment\.yml$

      - id: docstring-check
        name: Ensure all Python files have module-level docstrings
        entry: python scripts/check_docstrings.py
        language: python
        types: [python]

      - id: validate-yaml
        name: Check for valid YAML
        entry: conda run -n ai-stock-trader python -c "import sys, yaml; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
        language: system
        types: [yaml]

      - id: validate-json
        name: Check for valid JSON
        entry: python -c "import sys, json; [json.load(open(f)) for f in sys.argv[1:]]"
        language: python
        types: [json]

added data-lake file directory
  .gitignore
  scripts/init_data_lake.py
Due: docstring-check

implemented fetch scripts
  app/main.py
  data-pipelines/download_alpaca_news.py
  data-pipelines/fetch_yahoo_equity.py
  data-visualizers/graph_equityCSV.py
Due: docstring-check

Update download_alpaca_news.py
  data-pipelines/download_alpaca_news.py
Due: docstring-check

feat(news): add Alpaca ticker‑headline pipeline
  .flake8
  .gitignore
  .pre-commit-config.yaml
  README.md
  app/main.py
  data-pipelines/download_alpaca_news.py
  data-pipelines/fetch_yahoo_equity.py
  data-visualizers/graph_equityCSV.py
  environment.yml
  scripts/convert_csv_to_parquet.py
  tools/sha256_monitor.py
Due: env-check, docstring-check, validate-yaml

feat(pipelines): add news and equities daily update method
  app/update_raw_data.py
  data-lake/metadata/raw/equities/equities-metadata.json
  data-lake/metadata/raw/news/news-metadata.json
Due: docstring-check, validate-json

feat(data): add merge news and ohlcv data
  Makefile
  data-processors/merge_news_ohlcv.py
Due: docstring-check

feat(backup): add data-lake backup to icloud script
  scripts/backup_to_icloud.py
Due: docstring-check

Update backup_to_icloud.py
  scripts/backup_to_icloud.py
Due: docstring-check

feat(process): add headline sentiment vectorization
  environment.yml
  llms/headline_sentiment.py
Due: env-check, docstring-check, validate-yaml

refactor
  data-pipelines/download_alpaca_news.py
  data-pipelines/fetch_yahoo_equity.py
  data-processors/merge_news_ohlcv.py
  environment.yml
  llms/headline_sentiment.py
  tools/my_argparser.py
Due: env-check, docstring-check, validate-yaml

feat(pipeline): add entry point to update data
  app/update_raw_data.py
  data-lake/metadata/processed/merged-metadata.json
  data-lake/metadata/raw/news/news-metadata.json
  data-pipelines/download_alpaca_news.py
  data-processors/headline_sentiment.py
  data-processors/merge_news_ohlcv.py
  environment.yml
Due: env-check, docstring-check, validate-yaml, validate-json

feat(data): add new tickers to index
  app/add_tickers.py
  app/daily_data_update.py
  app/update_raw_data.py
  data-lake/metadata/raw/equities-metadata.json
  data-lake/metadata/raw/equities/equities-metadata.json
  data-lake/metadata/raw/news-metadata.json
  data-lake/metadata/raw/news/news-metadata.json
  data-pipelines/download_alpaca_news.py
Due: docstring-check, validate-json

fix(data): remove print line from merge
  data-lake/metadata/processed/merged-metadata.json
  data-lake/metadata/raw/equities-metadata.json
  data-lake/metadata/raw/news-metadata.json
  data-processors/merge_news_ohlcv.py
Due: docstring-check, validate-json
